<form class="{{cssClass}} sheexcel-sheet" autocomplete="off">
  <header class="sheexcel-sheet-header">
    <div class="sheexcel-profile-pic-wrapper">
      <img class="sheexcel-profile-pic" src="{{actor.img}}" alt="{{actor.name}}" data-edit="img"
        style="cursor:pointer;" />
    </div>
    <div class="sheexcel-sheet-header-content">
      <input name="name" type="text" value="{{actor.name}}" class="sheexcel-actor-name" />
    </div>
    <div class="sheexcel-hp-orb">
      <div class="sheexcel-hp-orb-fill"></div>
      <div class="sheexcel-hp-orb-bubble bubble1"></div>
      <div class="sheexcel-hp-orb-bubble bubble2"></div>
      <div class="sheexcel-hp-orb-bubble bubble3"></div>
      <div class="sheexcel-hp-orb-bubble bubble4"></div>
      <div class="sheexcel-hp-orb-bubble bubble5"></div>
      <div class="sheexcel-hp-orb-bubble bubble6"></div>
      <div class="sheexcel-hp-orb-bubble bubble7"></div>
      <div class="sheexcel-hp-orb-bubble bubble8"></div>
      <div class="sheexcel-hp-orb-bubble bubble9"></div>
      <div class="sheexcel-hp-orb-glass"></div>
      <span class="sheexcel-hp-orb-label"></span>
      <div class="sheexcel-hp-orb-border"></div>
    </div>
  </header>
  <section class="sheexcel-sheet-body sheexcel-sheet-flex">
    <div class="sheexcel-sheet-google-wrapper">
      <iframe class="sheexcel-google-sheet" src="{{sheetUrl}}" frameborder="0" allowfullscreen></iframe>
      <div class="sheexcel-sheet-resizer" title="Drag to resize"></div>
    </div>
    <div class="sheexcel-main-content">
      <!-- Primary Tabs -->
      <nav class="sheexcel-sheet-tabs tabs" data-group="primary">
        <a class="sheexcel-sheet-toggle" title="Toggle Sidebar">
          <i class="fas fa-bars"></i>
        </a>
        <a class="item active sheexcel-sheet-main" data-tab="main">Main</a>
        <a class="item sheexcel-sheet-references" data-tab="references">References</a>
        <a class="item sheexcel-sheet-settings" data-tab="settings"></a>
      </nav>

      <div class="sheexcel-sidebar {{#if sidebarCollapsed}}collapsed{{/if}}">
        {{> "modules/sheexcel_updated/templates/partials/main-tab.hbs"}}
        {{> "modules/sheexcel_updated/templates/partials/references-tab.hbs"}}
        {{> "modules/sheexcel_updated/templates/partials/settings-tab.hbs"}}
      </div>
    </div>
  </section>
</form>